
html {
  overflow-y:scroll;
}
body {
  padding-top:50px;
}

.container{
  border-left: 2px solid red;
  height: 2000px;
}
#todo-list {
  margin-bottom:30px;
}

hr {
  margin: .25rem;
  width: 200%;
}
.center-text {
  text-align: center;
}
